@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
  font-family: satoshi;
  src: url("../src/assets/fonts/Satoshi-Regular.woff2") format("woff2"),
}


@import "tailwindcss";


@theme{
  --font-inter: Inter, "sans-serif";
  --font-satoshi: satoshi, "sans-serif";
  /* --font-proxima: Proxima Nova, "sans-serif"; */
}




.stroke-white {
  -webkit-text-stroke-width: 3.92px;
  -webkit-text-stroke-color: #fff;
}


/* ---------- globals.css ---------- */


/* .stroke-white {
  -webkit-text-stroke-width: 3.92px;
  -webkit-text-stroke-color: #fff;
  -webkit-text-fill-color: transparent; 
  color: transparent; 
} */

/* .footer-clip {
  -webkit-clip-path: path("M648.121 0 C664.643 0 677.661 13.5972 682.065 29.5215 C696.957 83.3578 751.049 123.251 815.5 123.251 C879.951 123.251 934.043 83.3578 948.935 29.5215 C953.339 13.5972 966.357 0 982.879 0 H1630 V10000 H0 V0 H648.121 Z");
  clip-path: path("M648.121 0 C664.643 0 677.661 13.5972 682.065 29.5215 C696.957 83.3578 751.049 123.251 815.5 123.251 C879.951 123.251 934.043 83.3578 948.935 29.5215 C953.339 13.5972 966.357 0 982.879 0 H1630 V10000 H0 V0 H648.121 Z");

  -webkit-clip-path-box: border-box;
  clip-path-box: border-box;
} */

/* .footer-clip-fallback {
  background: black;
} */


/* For equal space for  both left and right  */
@media (min-width: 1024px) {
  .container {
    max-width: 87%;
  }



}
