@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');


@font-face {
  font-family: satoshi;
  src: url("../src/assets/fonts/Satoshi-Regular.woff2") format("woff2"),
}


@import "tailwindcss";


@theme{
  --font-inter: Inter, "sans-serif";
  --font-satoshi: satoshi, "sans-serif";
  --font-geist: Geist, "sans-serif"
  /* --font-proxima: Proxima Nova, "sans-serif"; */
}


body{
  color: black;
}


/* Desktop */
.stroke-white {
  -webkit-text-stroke-width: 3.92px;
  -webkit-text-stroke-color: #fff;
}

/* tab */
.stroke-white-tab{
  -webkit-text-stroke-width: 2.54px;
-webkit-text-stroke-color: #FFF;
}

/* mobile */
.stroke-white-mobile {
  -webkit-text-stroke-width: 0.95px;
  -webkit-text-stroke-color: #fff;
}



/* For equal space for  both left and right  */
@media (min-width: 1024px) {
  .container {
    max-width: 87%;
  }

}



