@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import "tailwindcss";

@font-face {
	font-family: satoshi;
	src:
		url("../src/assets/fonts/Satoshi-Regular.woff2") format("woff2"),;
}

.font-orbitron {
	font-family: Orbitron, sans-serif !important;
}

* {
	font-family: Inter, sans-serif;
}

@theme {
	--font-inter: Inter, "sans-serif";
	--font-orbitron: Orbitron, "sans-serif";
	--font-satoshi: satoshi, "sans-serif";
	/* --font-proxima: Proxima Nova, "sans-serif"; */
	--leading-full: 100%;
}

.stroke-white {
	-webkit-text-stroke-width: 3.92px;
	-webkit-text-stroke-color: #fff;
}
.stroke-white-mobile {
	-webkit-text-stroke-width: 0.95px;
	-webkit-text-stroke-color: #fff;
}

/* For equal space for  both left and right  */
@media (min-width: 1024px) {
	.container {
		max-width: 87%;
	}
}

/* Home page hero section */
.home-hero {
	background-image:
		linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url("./assets/images/home-hero-bg.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.feedback-form {
	background-image: url("./assets/images/feedback-form-bg.jpg");
	background-size: cover;
	background-position: center;
}
